<!DOCTYPE html>
<html ng-app>
<head>
	<title></title>
	<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-controller="LoginController">
	<form ng-submit="cadastrarUsuario()">
  <div class="form-group">
    <label for="usuarioEmail">Email</label>
    <input type="email" class="form-control" id="usuarioEmail" ng-model="usuario.email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="usuarioSenha">Senha</label>
    <input type="password" id="usuarioSenha" class="form-control" ng-model="usuario.senha" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-default">Cadastrar</button>
</form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://api.backendless.com/sdk/js/latest/backendless.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript">
	
	

	function LoginController($scope){
		var APPLICATION_ID = '<SUA CHAVE DA APLICACAO>',
    	SECRET_KEY = '<SUA CHAVE DA APLICACAO JS>',
    	VERSION = 'v1'; //default application version;
		Backendless.initApp(APPLICATION_ID, SECRET_KEY, VERSION);
		
		function userRegistered( user ) {
		  	alert("Cadastro realizado com sucesso!");
		}
 
		function gotError( err ) {
			alert("Mensagem de erro - " + err.message );
		  	console.log( "error message - " + err.message );
		  	console.log( "error code - " + err.statusCode );
		}


		$scope.cadastrarUsuario = function(){
			console.log("Usuario: " + $scope.usuario.email);
			console.log("Usuario: " + $scope.usuario.senha);
			var user = new Backendless.User();
			user.email = $scope.usuario.email;
			user.password = $scope.usuario.senha;
			Backendless.UserService.register(user, new Backendless.Async( userRegistered, gotError ));
			$scope.usuario = {};
		}
	}
</script>
</html>
